* {
    margin: 0;
    padding-right: 17px;
}


body,
html {
  overflow-X: hidden;
  overflow-Y: hidden;  
}


.titulo{
    font-size: 50px;
}

.subtitulo{
    font-size: 18px;
}

.labelResult{
    font-size: 12px;
    padding: 0px;
    text-align: left;
}

.labelResultBold{
    font-size: 14px;
    padding: 0px;
    font-weight: bold;
    text-align: left;
}

.labelquiz{
    font-size: 21px;
    font-weight: bold;
}

.bgfundo {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/bg-masthead.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgform1{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/portfolio-4.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/portfolio-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgform2{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/saude.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/saude.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgform3{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/home.jpeg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/home.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgform4{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/food.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/food.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgform5{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/trip.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/trip.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgform6{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/viagem.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/viagem.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgresult{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    /*padding-top: 5rem;*/
    padding-bottom: 8rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/bg-masthead-old.jpg");
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead-old.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .ui-body-a, .ui-body-c {
        background-color:rgba(255, 255, 255, 0.8);
    }

    .ui-radio{
        padding-right: 0px;
    }

    .resize {
        width: 150px !important;
    }

  /* Hide the number input 
  .full-width-slider input {
    display: none;
}
  .full-width-slider .ui-slider-track {
    margin-left: 15px;
}*/